@media (min-width: 768px) {
* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav {
    width:900px; 
    margin:0 auto; 
}

.nav > li {
	float:left;
}

.nav li a {
    background-color:#fff;
    color:#000;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#f5f8fa;
    font-weight: bold;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:160px;
}
			
.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-160px;
    top:0px;
}

}

@media (max-width: 768px) {

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

.nav li a {
    /*background-color:#fff;*/
    color:#000;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}



.nav {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.nav a {
    flex: 1;
    display: flex;
}


.nav,
.nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  /*margin-left: 3px;*/
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}

.nav ul ul {
  display: none;
}

.nav > ul > li > ul {
  display: none;
}

.nav > ul > li > ul > a {
  display: none;
}

.nav li > ul  {
  display: none;
}

.nav > ul > li.active > ul {
  display: none;
}
.align-right {
  float: right;
}
.nav > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  /*color: #ffffff;*/
  background: #2c2c2c;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.nav > ul > li > a:hover {
}
.nav ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.nav ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: none;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.nav ul > li.has-sub.open > a:after,
.nav ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav ul ul li a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
  text-decoration: none;
  /*color: #dddddd;
  background: #49505a;*/
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.nav ul ul ul li a {
  padding-left: 42px;
}

.nav ul ul ul ul li a {
  padding-left: 42px;
}

.nav ul li a:hover {
  /*background: #000  ;
  color: #fff;*/
}

.nav ul ul li a:hover {
  /*background: #808b96  ;
  color: #000;*/
}

.nav ul ul ul li a:hover {
  /*background: #808b96  ;
  color: #000;*/
}

.nav ul ul ul ul li a:hover {
/*  background: #808b96  ;
  color: #000;*/
}




.nav ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  /*background: #dddddd;*/
}
.nav ul ul > li.has-sub > a:before {
  top: 20px;
  /*background: #dddddd;*/
}

.nav ul a {
  padding-left: 22px;
}

.nav ul li ul a {
  padding-left: 42px;
}

.nav ul li ul li ul a {
  padding-left: 62px;
}

}



